body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}

.header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 16px;
  line-height: 25px;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border-bottom: 1px solid #d4dadf;
  background-color: #ffffff;
  text-align: center;

}

.logo-link {
  padding-top: 20px;
}

.logo-title {
  padding-bottom: 30px;
}

a {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 70px;
}

span {
  display: block;
}

#logo {
  height: 65px;
  text-align: center;
  display: block;
}

.main-container {
  display: flex;
}

.document-container {
  background-color: #f5f7f9;
  width: 100px;
  border-right: 1px solid #e6ecf1;
  height: calc(100vh - 112px);
}

li {
  display: inline-block;
  text-align: center;
}

.document-link {
  padding: 10px 14px !important;
  height: 18px;
  font-size: 15px;
  width: 65px;
  color: #626773;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: block;
  color: #3b454e;
  float: right;
  text-align: left;
  font-weight: 600;
  font-size: 14px;

}

.document-link:hover{
  background: #e6ecf1 !important;
}

.document-link:after{
  content: "";
  position: absolute;
  height: 1px;
  bottom: -3px;
  left: 0;
  width: 100%;
}

.active {
  
  color: rgb(255, 147, 0);
  background: white !important;
  border-width: 1px 0px 1px 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: rgb(230, 236, 241) !important;
  
}

.document-list {
  width: fit-content;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: column;
  width: 100%;

}

.ql-editor {
  height: 250px !important;
}

.editors {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.editor {
  flex: 1 1 auto;
  max-width: 80%;
  height: 700px;
  margin-right: 10px;
}