.header {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 25px;

  a {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:70px;
  }

  #logo {
    height: 65px;
    text-align: center;
    display:block;
  }

  span {
    display:block
  }
}

.document-list {
  width: fit-content;
  padding-right: 69px;
  margin-left: auto;
  margin-right: auto;
}

.editors {
  display: flex;
  justify-content: space-evenly;
  margin-left: 100px;
  margin-right: 100px;
}

.editor {
  flex: 1 1 auto;
  max-width: 80%;
  height: 700px;
  margin-right:10px;
}
